<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-cogs"></i> Processes
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cogs fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{model.runningCount}}</div>
                        <div>Processes Running</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">0</div>
                        <div>Groups Running</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-pie-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">4%</div>
                        <div>Memory Used</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tachometer fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">16%</div>
                        <div>CPU Used</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-database fa-fw"></i> Your Stored Processes</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {{#each process in model.processes}}
                        <a class="list-group-item" id="{{unbound process.id}}">
                            <span class="text-right">
                            {{#if process.alive}}
                                <a class="btn btn-danger" {{action 'kill' process}}>stop</a>
                            {{else}}
                                <a class="btn btn-success"  {{action 'start' process}}>start</a>
                            {{/if}}
                            </span>
                            
                            <span class="text-right">
                                <a class="btn btn-primary" {{action 'logs' process}}>logs</a>
                            </span>
                            
                            <span class="pull-left" style="width:calc(100% - 143px)"><i class="fa fa-fw fa-gear"></i> {{process.name}} <i class="fa fa-fw fa-comment"></i></span>
                        </a>
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->







<div class="modal" id="logs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{log.title}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{#each entry in log.content}}
                        {{{entry.log}}}
                    {{/each}}
                </p>
            </div>
            <div class="modal-footer">
                <paper-button raised role="button" data-dismiss="modal">Dismiss</paper-button>
            </div>
        </div>
    </div>
</div>