<div class="new">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal">
                <fieldset>
                    <legend><i class="fa fa-pencil fa-fw"></i> Create A New Process</legend>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            {{input class="form-control" id="name" placeholder="My Simple Service" value=model.name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="command" class="col-lg-2 control-label">CMD</label>
                        <div class="col-lg-10">
                            {{input class="form-control" id="command" placeholder="sh" value=model.command}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="args" class="col-lg-2 control-label">ARGS</label>
                        <div class="col-lg-10">
                            {{input class="form-control" id="args" placeholder="build.sh, [?notbuild:build], [?notrun:run]" value=model.args}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cwd" class="col-lg-2 control-label">CWD</label>
                        <div class="col-lg-10">
                            {{input class="form-control" id="cwd" placeholder="/home/myfolder/" value=model.cwd}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stopcmd" class="col-lg-2 control-label">STOP CMD</label>
                        <div class="col-lg-10">
                            {{input class="form-control" id="stopcmd" placeholder="lsof -t -i tcp:1338 | xargs kill" value=model.stopcmd}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkcmd" class="col-lg-2 control-label">CHECK CMD</label>
                        <div class="col-lg-10">
                            {{input class="form-control" id="checkcmd" placeholder="nc -zv localhost 1338" value=model.checkcmd}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="port" class="col-lg-2 control-label">PORT</label>
                        <div class="col-lg-10">
                            {{input class="form-control" id="port" placeholder="1338" value=model.port}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hidden" class="col-lg-2 control-label">HIDDEN</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                            <label>
                                {{input type="checkbox" name='hidden' checked=model.hidden}}
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"  style="font-size:23px">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a class="btn btn-primary btn-sm" {{action 'save'}} href="#/process/new">
                                <i class="fa fa-fw fa-save"></i> Save
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
